@import '~antd/dist/antd.css';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.mb-10 {
    margin-bottom: .5rem;
}

.bg-danger {
    color: #ffffff;
    background-color: #f5222d;
}

.logo {
    height: 32px;
    background: #ffffff;
    margin: 16px;
    display: block;
}

.logo > img{
    width: 100%;
    height: inherit;
    object-fit: scale-down;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-footer {
    /* position: fixed; */
    bottom: 0;
    right: 0;
    width: 100%;
}

.ant-layout-sider {
    z-index: 1;
}