@import '~antd/dist/antd.css';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.mb-10 {
    margin-bottom: .5rem;
}

.bg-danger {
    color: #ffffff;
    background-color: #f5222d;
}